<div class="modal fade" id="modalExcluirTransacao{{ transacao.id }}" tabindex="-1" aria-labelledby="modalExcluirTransacaoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalExcluirTransacaoLabel">Excluir    Transação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja    excluir esta transação?
        <p><strong>Descrição:</strong> {{ transacao.descricao }}</p>
        <p><strong>Valor:</strong> R$ {{ transacao.valor|floatformat:2 }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger"    onclick="excluirTransacao({{ transacao.id }}, '{{transacao.tipo}}')">Excluir</button> 
      </div>
    </div>
  </div>
</div>