{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            font-size: 1.2rem; /* Aumenta o tamanho da fonte da página */
        }
        h2 {
            font-size: 2rem; /* Aumenta o tamanho do título */
        }
        .container {
            height: 100vh; /* Faz o container ocupar toda a altura da tela */
        }
        .message {
            text-align: center; /* Centraliza o texto */
            margin-top: 20%; /* Margem superior para centralização vertical */
        }
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="message">
            <h2>Password Reset Sent</h2>
            <p>Check your email for the reset link.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
        </div>
    </div>
</body>
</html>